{{ if and (isset .Params "comments") (isset .Params.comments "id") }}
<div id="bluesky-comments-container">
  <h2>Comments</h2>
  <div class="comment-reply-box">
    <p>What do you think? Let me know on Bluesky!</p>
    <div>
      <a class="btn" id="reply-link" href="#" target="_blank">Reply on Bluesky</a>
      <a class="btn" id="view-post-link" href="#" target="_blank">View Post</a>
    </div>
  </div>
  <div id="comments-thread"></div>
  <noscript>You need JavaScript to view the comments.</noscript>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.6/purify.min.js" integrity="sha512-YlctBG9PGZIhh9keoqI3eZkQM9T8QUbiBi7qNYAO/TUEo8jqWX5pLp5+x1cKRQDRzJ/lyGyJ9WUVNIRduxIIFw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
  (function(){
    var list = document.getElementById("comments-thread");
    var reply = document.getElementById("reply-link");
    var view = document.getElementById("view-post-link");
    list.innerHTML = '<div class="comment-loading">Loading comments...</div>';
    fetch("https://public.api.bsky.app/xrpc/app.bsky.feed.getPostThread?uri=at://{{ .Site.Params.bluesky.handle }}/app.bsky.feed.post/{{ .Params.comments.id }}&depth=10")
      .then(function(r){return r.json()})
      .then(function(data){
        var post = data.thread.post;
        if(post){
          reply.href = "https://bsky.app/intent/compose?text=&replyTo=" + post.uri;
          view.href = "https://bsky.app/profile/{{ .Site.Params.bluesky.handle }}/post/{{ .Params.comments.id }}";
        }
        var replies = data.thread.replies || [];
        if(replies.length === 0){
          list.innerHTML = '<div class="no-comments-found">No comments yet. Be the first to reply on Bluesky!</div>';
          return;
        }
        replies.sort(function(a,b){return new Date(a.post.record.createdAt) - new Date(b.post.record.createdAt)});
        list.innerHTML = "";
        function render(comments, parent){
          for(var i=0;i<comments.length;i++){
            var r = comments[i];
            var a = r.post.author;
            var txt = r.post.record.text;
            var time = new Date(r.post.record.createdAt).toLocaleString();
            var likes = Number(r.post.likeCount) || 0;
            var facets = r.post.record.facets || [];
            facets.sort(function(x,y){return x.index.byteStart - y.index.byteStart});
            var off = 0;
            for(var j=0;j<facets.length;j++){
              var f = facets[j];
              var s = f.index.byteStart + off;
              var e = f.index.byteEnd + off;
              var orig = txt.slice(s,e);
              var repl = orig;
              for(var k=0;k<f.features.length;k++){
                var ft = f.features[k];
                if(ft.$type === "app.bsky.richtext.facet#link") repl = '<a href="'+ft.uri+'" target="_blank" rel="noopener noreferrer">'+orig+'</a>';
                else if(ft.$type === "app.bsky.richtext.facet#mention") repl = '<a href="https://bsky.app/profile/'+ft.did+'" target="_blank" rel="noopener noreferrer">'+orig+'</a>';
              }
              txt = txt.slice(0,s) + repl + txt.slice(e);
              off += repl.length - orig.length;
            }
            var safe = DOMPurify.sanitize(txt,{USE_PROFILES:{html:true}});
            var el = document.createElement("div");
            el.className = "comment-element";
            el.innerHTML = '<div class="comment-container"><img src="'+a.avatar+'" alt="" class="comment-avatar"><div class="comment-details"><div class="comment-header"><a href="https://bsky.app/profile/'+a.did+'" target="_blank">'+a.displayName+'</a> @'+a.handle+' · '+time+'</div><div class="comment-text">'+safe.replace(/\n/g,'<br>')+'</div></div><div class="comment-meta">'+likes+' likes</div></div>';
            parent.appendChild(el);
            if(r.replies && r.replies.length > 0){
              var ch = document.createElement("div");
              ch.className = "child-comments";
              el.appendChild(ch);
              render(r.replies, ch);
            }
          }
        }
        render(replies, list);
      })
      .catch(function(){
        list.innerHTML = '<div class="comment-error">Error loading comments.</div>';
      });
  })();
  </script>
</div>
{{ end }}
