<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{/* Meta description */}}
{{ if .Description }}
<meta name="description" content="{{ .Description }}">
{{ else if .Summary }}
<meta name="description" content="{{ .Summary | plainify | truncate 160 }}">
{{ else if .IsHome }}
<meta name="description" content="{{ site.Params.description | default " Personal website and blog" }}">
{{ else }}
<meta name="description" content="{{ .Title }} - {{ site.Title }}">
{{ end }}

{{/* OpenGraph tags */}}
<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ if .Description }}
<meta property="og:description" content="{{ .Description }}">
{{ else if .Summary }}
<meta property="og:description" content="{{ .Summary | plainify | truncate 160 }}">
{{ end }}

{{/* Twitter Card tags */}}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}">
{{ if .Description }}
<meta name="twitter:description" content="{{ .Description }}">
{{ else if .Summary }}
<meta name="twitter:description" content="{{ .Summary | plainify | truncate 160 }}">
{{ end }}

{{/* RSS feeds */}}
{{ range .AlternativeOutputFormats -}}
{{ printf `
<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end -}}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}