<div class="header-flex">
  <button id="mobile-menu-toggle" class="mobile-menu-toggle" aria-label="Toggle navigation menu">
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
  </button>
  <h1>{{ site.Title }}</h1>
  <nav class="desktop-nav" aria-label="Main">
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  </nav>
  <button class="theme-toggle" id="theme-toggle" title="Toggle theme">
    <svg class="theme-toggle-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path fill-rule="evenodd"
        d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-3.864 2.09-7.171 5.197-8.985a.75.75 0 01.627.162z"
        clip-rule="evenodd" />
    </svg>
  </button>
</div>
<div id="mobile-menu" class="mobile-menu" aria-label="Mobile">
  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
</div>